<div class="page-body p-0">
    <div class="container-fluid p-0">
        <div class="comingsoon">
            <div class="comingsoon-inner text-center">
                <a href="index.html">
                    <%= image_tag('logo-1.png') %>
                </a>
                <h5>WE ARE COMING SOON</h5>
            </div>
        </div>
    </div>
</div>