<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <h3>OTS Frequently Asked Questions</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">OTS FAQs</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="faq-wrap">
        <div class="row">
          <div class="col-lg-12">
            <div class="row default-according style-1 faq-accordion" id="accordionoc">
              <div class="col-xl-12 xl-100 col-lg-12 col-md-12 box-col-12">
                <div class="faq-title">
                  <h6>Compulsory Subject | Maximum Marks: 100</h6>
                </div>

                <!-- Syllabus-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon" aria-expanded="true" aria-controls="collapseicon"> Syllabus </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>

                <!-- Recommended Books-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon1" aria-expanded="true" aria-controls="collapseicon1"> Recommended Books </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon1" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">S.No.</th>
                              <th scope="col">Title</th>
                              <th scope="col">Author</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>English Grammar in Use</td>
                              <td>Raymond Murphy (Cambridge University Press).</td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td>Practical English Usage</td>
                              <td>M.Swan (Oxford University Press).</td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td>The Little, Brown Handbook</td>
                              <td>H. Ramsey Flower & Jane Aaron (The Little, Brown & Co; Harper Collins.)</td>
                            </tr>
                            <tr>
                              <th scope="row">4</th>
                              <td>A University English Grammar</td>
                              <td>R. Quirk & S. Greenbaum (ELBS; Longmans)</td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td>Write Better, Speak Better</td>
                              <td>Readers Digest Association.</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Past Papers-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2"> Past Papers </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon2" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="javascript:void(0)">Past Paper 2022</a>
                        <a class="list-group-item list-group-item-action" href="javascript:void(0)">Past Paper 2021</a>
                        <a class="list-group-item list-group-item-action" href="javascript:void(0)">Past Paper 2020</a>
                        <a class="list-group-item list-group-item-action" href="javascript:void(0)">Past Paper 2019</a>
                        <a class="list-group-item list-group-item-action" href="javascript:void(0)">Past Paper 2018</a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Examiner Remarks-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon3" aria-expanded="true" aria-controls="collapseicon3"> Examiner Remarks </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon3" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <div class="list-group">
                      
                        <a class="list-group-item">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">CSS Competitive Examination 2019</h5>
                          </div>
                          <p class="mb-1">The overall result was good and some of them secured full marks. Overall result was satisfactory.</p>
                        </a>
                          
                        <a class="list-group-item">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">CSS Competitive Examination 2018</h5>
                          </div>
                          <p class="mb-1">Candidates appearing in the subject had no clear concepts of agriculture
                          practices/operations/terminology i.e. pest-controlling medicines control pests in crops,
                          Agricultural Biotechnology is science but was not handled smartly. In some cases English
                          expression was very poor. About 10% candidates scored 25% marks or less 30%, 60% were in
                          the range of 25-50% marks.</p>
                        </a>
                        
                        <a class="list-group-item">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">CSS Competitive Examination 2014</h5>
                          </div>
                          <p class="mb-1">A significant majority of the candidates showed hard work but displayed un-satisfactory
                          performance in questions relating to Balochi Literature & culture.</p>
                        </a>                      
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Do and Don'ts-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon4" aria-expanded="true" aria-controls="collapseicon4"> Do and Don'ts </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon4" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>

                <!-- Related Books-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon5" aria-expanded="true" aria-controls="collapseicon5"> Related Books </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon5" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>

                <!-- Related Notes-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon6" aria-expanded="true" aria-controls="collapseicon6"> Related Notes </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon6" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>

                <!-- Related Links-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon7" aria-expanded="true" aria-controls="collapseicon7"> Related Links </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon7" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>

                <!-- Related MCQs-->
                <div class="card">
                  <div class="card-header">
                    <h6 class="mb-0">
                      <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseicon8" aria-expanded="true" aria-controls="collapseicon8"> Related MCQs </button>
                    </h6>
                  </div>
                  <div class="collapse" id="collapseicon8" aria-labelledby="collapseicon" data-parent="#accordionoc">
                    <div class="card-body">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12 featured-tutorial">
            <div class="header-faq">
              <h5 class="mb-0">Related Videos</h5>
            </div>
            <div class="row">
              <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
                <div class="card features-faq product-box">
                  <div class="faq-image product-img">
                    <%= image_tag('faq-1.jpg', {class: 'img-fluid'}) %>
                  </div>
                  <div class="card-body"><a href="learning-detailed.html">
                      <h6>Web Design</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  </div>
                </div>
              </div>
              
              <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
                <div class="card features-faq product-box">
                  <div class="faq-image product-img">
                    <%= image_tag('faq-2.jpg', {class: 'img-fluid'}) %>
                  </div>
                  <div class="card-body"><a href="learning-detailed.html">
                      <h6>Web Development</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  </div>
                </div>
              </div>
              <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
                <div class="card features-faq product-box">
                  <div class="faq-image product-img">
                    <%= image_tag('faq-3.jpg', {class: 'img-fluid'}) %>
                  </div>
                  <div class="card-body"><a href="learning-detailed.html">
                      <h6>UI Design</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  </div>
                </div>
              </div>
              <div class="col-xl-3 xl-50 col-sm-6 box-col-6">
                <div class="card features-faq product-box">
                  <div class="faq-image product-img">
                    <%= image_tag('faq-4.jpg', {class: 'img-fluid'}) %>
                  </div>
                  <div class="card-body"><a href="learning-detailed.html">
                      <h6>UX Design</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 faq-articles">
            <div class="header-faq">
              <h5 class="mb-0">Latest related articles</h5>
            </div>
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="media"><i class="m-r-30" data-feather="codepen"></i>
                          <div class="media-body">
                            <h6 class="f-w-600">Using Video</h6>
                            <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="media"><i class="m-r-30" data-feather="codepen"></i>
                          <div class="media-body">
                            <h6 class="f-w-600">Using Video</h6>
                            <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="media"><i class="m-r-30" data-feather="codepen"></i>
                          <div class="media-body">
                            <h6 class="f-w-600">Using Video</h6>
                            <p>Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card comment-box">
                    <div class="card-body">
                      <h4>Comment                             </h4>
                      <ul>
                        <li>
                          <div class="media align-self-center"><img class="align-self-center" src="assets/images/blog/comment.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <div class="row">
                                <div class="col-md-4 xl-100"><a href="user-profile.html">
                                    <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                                <div class="col-md-8 xl-100">
                                  <ul class="comment-social learning-comment">
                                    <li class="digits"><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                                    <li class="digits"><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                                  </ul>
                                </div>
                              </div>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                          </div>
                        </li>
                        <li>
                          <ul>
                            <li>
                              <div class="media"><img class="align-self-center" src="assets/images/blog/9.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                  <div class="row">
                                    <div class="col-xl-12"><a href="user-profile.html">
                                        <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                                  </div>
                                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <div class="media"><img class="align-self-center" src="assets/images/blog/4.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                              <div class="row">
                                <div class="col-md-4 xl-100"><a href="user-profile.html">
                                    <h6 class="mt-0">Jolio Mark<span> ( Designer )</span></h6></a></div>
                                <div class="col-md-8 xl-100">
                                  <ul class="comment-social learning-comment">
                                    <li class="digits"><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                                    <li class="digits"><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                                  </ul>
                                </div>
                              </div>
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>


        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>