<div class="container-fluid">
<%= search_form_for @q do |f| %>
    <div class="form-space theme-form row">
    <div class="col-auto">
    <%= f.search_field :title_cont, class: 'form-control', placeholder: 'job title' %>
    </div>
    <div class="col-auto">
    <%= f.search_field :qualification_cont, class: 'form-control', placeholder: 'qualification' %>
    </div>
    <div class="col-auto">
    <%= f.submit "Search" , class: 'btn btn-primary' %>
    </div>
    </div>
  <% end %>
  </div>

