<!-- footer start-->
<footer class="footer footer-fix">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 footer-copyright">
        <p class="mb-0">Copyright 2021-22 © PK_Forum. All rights reserved.</p>
      </div>
      <div class="col-md-6">
        <p class="pull-right mb-0">Civil Services of Pakistan <i class="flag-icon flag-icon-pk"></i></p>
      </div>
    </div>
  </div>
</footer>