<div>
  <!-- Footer -->
  <footer class="footer page-footer font-small mdb-color actual-footer" style="padding: 1.5em; background-color: #dfe3e6">
    <!-- Footer Links -->
    <div class=" text-center text-md-left">
      <!-- Grid row -->
      <div class="row m-0">
        <!-- Grid column -->
        <div class="col-sm-7 col-md-7 col-lg-8 copyright">

          <!--Copyright-->
          <p style="margin-bottom: 0">Copyright © 2018 Pakistan Forum. All Rights Reserved. Privacy Policy </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-sm-5 col-md-5 col-lg-4 ml-lg-0 social-icons">

          <!-- Social buttons -->
          <div class="text-md-right ">
            <ul class="list-unstyled list-inline" style="padding-top: 2%;">
              <li class="list-inline-item">
                <a class="social-share" href="https://web.facebook.com/Knowledge-Planet-109723789675131/" target="_blank">
                  <%= image_tag('fb_social_link.svg') %>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-share" href="https://twitter.com/PakistanForum2" target="_blank">
                  <%= image_tag('twitter_social_link.svg') %>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="social-share" href="" target="_blank">
                  <%= image_tag('google_social_link.svg') %>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
  <!-- Footer -->
</div>
