<div class="col-md-3 col-sm-12 col-xs-12 profile">
  <aside>
    <div class="clearfix align-center">
      <img src="/assets/logo.png" alt="PK Forum" class="img-circle profile-image">

      <div class="profile-content">
        <h4><%= Setting.site_name %></h4>
        <!--        <p>pkforum.help@gmail.com</p>-->
        <a class="twitter-follow-button"
           href="https://twitter.com/PakistanForum2"
           data-show-count="true"
           data-lang="en"
           target="_blank"
           style="color: blue;">
          Follow @PakistanForum2
        </a>
      </div>

      <hr class="hidden-xs hidden-sm">

      <div class="social-icons">
        <p style="text-align: left;">Share this page:</p>
        <ul class="clearfix post-share-list">
          <li><img src="/assets/twitter.png"></li>
          <li><img src="/assets/facebook.png"></li>
          <li><img src="/assets/linkedin.png"></li>
          <li><img src="/assets/googleplus.png"></li>
          <li><img src="/assets/pinterest.png"></li>
          <li><img src="/assets/email.png"></li>
        </ul>
      </div>
    </div>

    <hr class="hidden-md hidden-lg">

  </aside>
</div>

<style>
  .post-share-list {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
</style>