@import "bootstrap";
@import "header";
@import "footer";
//@import "jquery-ui/autocomplete";

@font-face {
  font-family: 'Quicksand-Bold';
  font-weight: normal;
  font-style: normal;
  src: font_url('Quicksand-Bold.ttf') format('opentype');

}

@font-face {
  font-family: 'Quicksand-Reg';
  font-weight: normal;
  font-style: normal;
  src: font_url('landing-fontawesome-webfont.woff2') format('opentype');
}

// @font-face {
//   font-family: 'landing-fontawesome-webfont';
//   font-weight: normal;
//   font-style: normal;
//   src: font_url('Quicksand-Regular.ttf') format('opentype');
// }

* {
  font-family: Quicksand-Reg;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #000000;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #8c9ba5;
}

.indent {
  text-indent: 10%;
}

.indent-except-first > li:not(:first-child) {
  text-indent: 10%;
}

.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  background-color: #ECF0F1;
}







//User Register Modal
.modal-body{
  padding-right: 2em;
  padding-left: 2em;
}

.promo-div{
  background-color: #434343;
  border-radius: 5px;
  padding: 1.5em;
  text-align: center;
}
@media (max-width: 667px){
  .promo-div{
    font-size: 12px !important;
    padding: 1.25em;
  }
}

.submit-button{
  width: 100%;
  background: #434343;
  color: #ffffff;
  //border: solid thin #e54848;
}

.field-style{
  background: #434343;
  color: #ffffff;
  border: solid thin #707070;
}
.field-style:focus{
  background: #434343;
  color: #ffffff;
  border: solid thin #707070;
}
.field-style::placeholder{
  color: #ffffff;
  font-size: 11px;
}

form{
  padding-top: 2em;
  padding-bottom: 1em;
}

input{
  box-shadow: none !important;
}
input:after{
  background: #333333;
}

.list-inline-item{
  .social-register img{
    width: 2.5em;
    height: 2.5em;
  }
}

.list-inline-item{
  padding-right: .9em;
  .social-share img{
    width: 2.3em;
    height: 3em;
  }
}
@media (max-width: 667px) {
  .list-inline-item{
    .social-share img{
      width: 3em;
      height: 2.7em;
    }
  }
}

.modal-content-style{
  background-color: #636363;
}

.modal-header{
  border: none;
}
.modal-footer{
  border-top: 1px solid #434343;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}