@import "bootstrap";
@import "header";
@import "footer";
//@import "jquery-ui/autocomplete";

// @font-face {
//   font-family: 'Quicksand-Bold';
//   font-weight: normal;
//   font-style: normal;
//   src: font_url('Quicksand-Bold.ttf') format('opentype');

// }

@font-face {
  font-family: 'Montserrat, sans-serif';
  src: font_url('landing-fontawesome-webfont.woff2') format('opentype');
}

body {
  background-color: #F2F0EB;
  font-family: "Montserrat Regular";
}